<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- 날짜 -->
                <timestamp>
                    <fieldName>DATE</fieldName>
                    <pattern>yyyyMMddHHmmssSSS</pattern>
                </timestamp>

                <!-- 로그 레벨 -->
                <logLevel>
                    <fieldName>LOG-LEVEL</fieldName>
                </logLevel>

                <!-- 호출 위치 -->
                <loggerName>
                    <fieldName>SOURCE</fieldName>
                </loggerName>

                <!-- MDC 기반 동적 필드 -->
                <mdc>
                    <includeKeys>
                        SERVICE,CATEGORY,GLOBAL_NO,TOPOLOGY_SEQ,TRANSACTION_ID,TRACE_ID
                    </includeKeys>
                </mdc>

                <!-- 메시지: HEADER / MESSAGE -->
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE" />
    </root>
</configuration>
